body{
	background: linear-gradient(to bottom, #FFDBD5,#FE69BD);
}
.title{
	text-align: center;
	color: black;
	font-family: 
}
.header{
	padding: 20px;
	margin-bottom: 10px;
	background: linear-gradient(#FF5B94,#B441A4);
	font-family: GungsuhChe;
	font-size: 20px;
	border: white 3px solid;
}

.menu {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	padding: 0
	text-align:center;
	list-style: none;
}
a{
	text-decoration: none;
}
.menu li {
	padding: 20px;
    color: black;
	font-family: Imprint MT Shadow;
	font-size: 18px;
    text-align: center;
    list-style: none;
	background: linear-gradient(#FF5B94,#B441A4);
	border: white 3px solid;
}
li:hover{
	background: white;
	color: black;
}
.div1{
	grid-template-columns: 3fr 2fr;
	grid-gap: 10px;
	display: grid;
	height: 90vh;
}
.text{
	background: linear-gradient(#9708CC,#43CBFF);
	text-align: center;
	font-family: Elephant;
	font-size: 19px;
}
.image1{
	background-image: url(../images/one.jpeg);
	background-position: center;
	background-size: cover;
}
.div2{
	margin-top: 70px;
	grid-template-columns: 2fr 3fr;
	grid-gap: 10px;
	display: grid;
	height: 120vh;
}
.text{
	background: linear-gradient(#9708CC,#43CBFF);
	text-align: center;
	font-family: Elephant;
	font-size: 20px;
}
.image2{
	background-image: url(../images/two.jpeg);
	background-position: center;
	background-size: cover;
}

.div3{
	margin-top: 10px;
	grid-template-columns: 3fr 2fr;
	grid-gap: 10px;
	display: grid;
	height: 120vh;
}
.text{
	background: linear-gradient(#9708CC,#43CBFF);
	text-align: center;
	font-family: Elephant;
	font-size: 10px;
}
.image3{
	background-image: url(../images/three.jpeg);
	background-position: center;
	background-size: cover;
}


.div4{
	margin-top: 90px;
	grid-template-columns: 2fr 3fr;
	grid-gap: 10px;
	display: grid;
	height: 90vh;
}
.text{
	background:linear-gradient(#43CBFF,#9708CC);
	text-align: center;
	font-family: Elephant;
	font-size: 20px;
}
.image4{
	background-image: url(../images/four.jpeg);
	background-position: center;
	background-size: cover;
}